
      .chat-message-user {
        display: flex;
        justify-content: end;
        align-items: start;
      }
      .chat-message-robot {
        display: flex;
        align-items: start;
      }
      .chat-messages {
        background-color: rgb(238, 238, 238);
        padding: 12px 20px;
        border-radius: 10px;
        margin-right: 10px;
        margin-left: 15px;
        margin-bottom: 20px;
        max-width: 300px;
      }
        .ProfileImages{
        height: 45px;
        border-radius: 45px;
        object-fit: cover;
      }
      img {
        width: 45px;
      }

       .loading-spinner-img {
        height: 40px;
        margin: -15px;
      }